<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/welcome/home">A Girl with Fork</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/welcome/home">Home</a></li>
        <li><a href="#academic">About</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Restaurant Review <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/welcome/home?location=delhi&blog_type=restaurant_review">Delhi</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/welcome/home?location=kolkata&blog_type=restaurant_review">Kolkata</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/welcome/home?location=darjeeling&blog_type=restaurant_review">Darjeeling</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Street Food Adventure <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/welcome/home?location=delhi&blog_type=street_food_adventure">Delhi</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/welcome/home?location=kolkata&blog_type=street_food_adventure">Kolkata</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/welcome/home?location=darjeeling&blog_type=street_food_adventure">Darjeeling</a></li>
          </ul>
        </li>
        <li><a href="#internships">Your Food Connoiseur "Ask me anythig"</a></li>
        <li><a href="#skills">Food Festival</a></li>
        
        <!-- <li><a href="#workshops">Workshops</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#extras">Extra Curricular Activities</a></li>
        <li><a href="#awards">Awards</a></li> -->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>