<div class="container">
  <div class="row col-md-12 text-center">
    <div class="col-md-8">
      <input class="form-control search-box">
    </div>
    <div class="col-md-1">
      <button class="btn btn-primary search-btn"><i class="fa fa-search"></i></button>
    </div>
  </div>
  <div class="col-md-12 row">
    <div class="col-md-8 short-container">
      <div class="art">
        <div class="col-md-4 img">

        </div>
        <div class="col-md-8 cont">
        aowijwlwv awv awv aw aw vaw baw rbaw  eb awrb ab awb aw baw bw aba ba wb wb aw baw ba wb aw baw ba wb wab wab asb awr bwa b w
        </div>
      </div>
      <div class="art">
        <div class="col-md-8 cont">
        aowijwlwv awv awv aw aw vaw baw rbaw  eb awrb ab awb aw baw bw aba ba wb wb aw baw ba wb aw baw ba wb wab wab asb awr bwa b w
        </div>
        <div class="col-md-4 img">

        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 row">
    <div class="col-md-12 trending">
      <div class="col-md-3 text-center">
        <img height="100px" width="90%">
        <br>
        Trending articles
      </div>
      <div class="col-md-3 text-center">
        <img height="100px" width="90%">
        <br>
        Trending articles
      </div>
      <div class="col-md-3 text-center">
        <img height="100px" width="90%">
        <br>
        Trending articles
      </div>
      <div class="col-md-3 text-center">
        <img height="100px" width="90%">
        <br>
        Trending articles
      </div>
    </div>
  </div>
</div>