body{
  font-family: 'lato';
}
.navbar{
  padding: 10px;background: #fff;
}
.right-sidebar{
  background: #eee;min-height: 400px;
}

@font-face{
  src: url("/fonts/Lato-Light.ttf");font-family: 'lato';
}